body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-span{
  float: left;
  margin-left: 13px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

input::-webkit-input-placeholder {
  font-size: 0.9rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.form-check-input:checked {
  background-color: #7157d0 !important;
  border-color: #7157d0 !important;
}

.form-control {
  background-color: transparent !important;
}

  
  
  
  


