@font-face {
  font-family: Andes-Rounded;
  src: url(./assets/fonts/Andes-Rounded.otf);
}

body {
  margin: 0;
  font-family: 'Andes-Rounded';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  font-family: 'Andes-Rounded';
}

//Import of sections
@import './styles/App.scss';
@import './styles/Header.scss';
@import './styles/Main.scss';
@import './styles/Loader.scss';

  
  
  
  


